{% extends "_layout/_site" %}  

{# ------------------- main ------------------- #}
{% block main %}

{% set entry = craft.entries({
    slug: entry.slug,
    section: 'story'
}).one() %}

{# main section #}
<section class="relative h-16 h-auto my-16 w-100">
    {# backdrop #}
    <div class="absolute top-0 left-0 w-7/12 h-full mt-24 bg-primary-100"></div>
    <div class="relative flex max-w-screen-xl mx-auto">
        <div class="w-1/2 ">
            {% if entry.storyHeroImage | length %}
                {% include "_components/_imager" with { img : entry.storyHeroImage[0], w : 8, h : 9 } %}
            {% else %}
                <figure class="relative w-full overflow-hidden bg-gray-100" style="padding-bottom: {{ 9/8*100 }}%">
                    <div class="absolute w-full h-full pin object-fit-cover" />
                </figure>
            {% endif %}
        </div>
        <div class="self-center w-1/2 py-8 pl-16">
            {# category #}
            <a href="{{ entry.storyCategory ?? entry.storyCategory.one().link }}">{{ entry.storyCategory.one().title}}</a>
            <h1 class="mt-4 font-serif text-5xl font-semibold leading-tight tracking-tight">{{ entry.title }}</h1>
            <h2 class="mt-4 text-2xl color-gray-900">{{ entry.storyStandfirst }}</h2>
            {# avator #}
            <div class="flex items-center mt-6">
                <img class="w-16 h-16 mr-8 rounded-full" src="https://source.unsplash.com/64x64/?avator" alt="Avatar of Jonathan Reinink">
                <div>
                    <p class="leading-none text-gray-900">{{ entry.author.fullName }}</p>
                    <p class="text-gray-500">{{ entry.postDate | date("M d, Y") }}</p>
                </div>
            </div>
        </div>
    </div>    
</section>


{# matrix #}
<article class="mt-48">
{% if entry.storyContent |length %}
	{% for block in entry.storyContent %}
		{% switch block.type %}
			{% case 'richTextEditor' %}
				{% include '_story/_component/_rich-text-editor' %}
			{% case 'gallery' %}
				{% include '_story/_component/_gallery' %}
            {% case 'embed' %}
                {% include '_story/_component/_embed' %}
			{% case 'imageHotspot' %}
                {% include '_story/_component/_image-hotspot' %}
            {% case 'relatedStory' %}
                {% include '_story/_component/_related-story' %}
          {#   {% case 'slider' %}
                {% include '_story/_component/_slider' %}
            
            
            {% case 'relatedSpaListing' %}
                {% include '_story/_component/_relatedSpaListing' %} #}
		{% endswitch %}
	{% endfor %}
{% endif %}
</article>










{% endblock %}
