<div class="w-full p-8 mt-16 md:mt-0 bg-secondary-100"> 
    <div class="space-y-6">
        <h2 class="text-3xl font-hairline font-headline">Make a Reservation</h2>
        {% include "_component/_hr" %}
        <div class="space-y-4 ">
            {% if entry.spaContactAddress  is not empty %}
            <div>
                <h3 class="font-semibold">Address</h3>
                <p>{{ entry.spaContactAddress }}</p>
            </div>
            {% endif %}
            {% if entry.spaOpeningHours is not empty  %}
            <div>
                <h3 class="font-semibold">Opening Hours</h3>
                <p>{{ entry.spaOpeningHours }}</p>
            </div>
            {% endif %}
            {% if entry.spaContactEmail is not empty %}
            <div>
                <h3 class="font-semibold">Email</h3>
                <a class="text-bg" href="mailto:{{ entry.spaContactEmail }}">{{ entry.spaContactEmail }}</a>
            </div>
            {% endif %}
            
            <div class="flex items-center justify-between space-x-4">
                <div class="flex items-center space-x-4">
                    {% if entry.spaContactFacebook is not empty %}
                    <a href="https://facebook.com/{{ entry.spaContactFacebook }}" target="_blank">{% include "_component/_icon" with { 'icon':'logo-facebook-24'} only %}</a>
                    {% endif %}
                    {% if entry.spaContactInstagram is not empty %}
                    <a href="https://instagram.com/{{ entry.spaContactInstagram }}" target="_blank">{% include "_component/_icon" with { 'icon':'logo-instagram-24'} only %}</a>
                    {% endif %}
                </div>
                {% if entry.spaContactWebsite is not empty %}
                <a class="flex items-center self-end space-x-4 transition duration-300 border-b border-black justify-self-end hover:text-primary-500 hover:border-primary-500" href="{{ entry.spaContactWebsite }}" target="_blank">
                    <span>Website</span>
                    {% include "_component/_icon" with { 'icon':'arrow-right-48'} only %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>