{% extends "_layout/_site" %}

{% block main %}
    {# <div id="search-app">

        {{ craft.superFilter.setup('searchList') }}
        <div class="row">
            <div class="col-sm-2 col-md-2">
                {{ craft.superFilter.displaySearchFields() }}
            </div>
            <div class="col-sm-10 col-md-10">
                {{ craft.superFilter.displaySortOptions() }}
                {{ craft.superFilter.items() }}

                {{ craft.superFilter.getPaginateLinks() }}
            </div>
        </div>
    </div> #}

{% set country = craft.request.getQueryString('country') %}
{% set location = craft.request.getQueryString('location') %}

{% set entries = craft.entries.spalocation({
    location: location,
    country: country,
    radius: 100,
    unit: 'mi',
}).all() %}

<h5>list all spa location by using ?country & ?location </h5>
{% for entry in entries %}
    <a href="{{ entry.url }}"> {{ entry.title }} </a>
{% endfor %}
{% endblock %}