{# ----------------- userLocation, default HK ----------------- #}
{% set userLat = userLat ?? '22.302711' %}
{% set userLng = userLng ?? '114.177216' %}
{% set userAddress = userAddress ?? 'Hong Kong' %}

{% set q = q|default(userAddress) %}
{% set entries = entries ?? [] %}
{% set locationEntries = locationEntries ?? [] %}

{% if q %}
{% set entriesIds = [] %}
{% set countryIds = [] %}
{% set cityIds = [] %}
{% set locationIds = [] %}

{# ----------------- get list of entries ----------------- #}
{% set entriesIds = craft.entries 
    .section('spa')
    .status(['live','pending','expired'])
    .title('*'~q~'*')
    .ids() 
%}


{# {% set countryIds = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .spaContactMap({
        location: null,
        country: q
    })
    .ids() 
%} #}
{# 

{% set cityIds = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .spaContactMap({
        city: q,
        radius: 50,
        unit: 'km',
    })
    .ids() 
%} #}

{# 
{% set locationIds = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .spaContactMap({
        location: q,
        radius: 50,
        unit: 'km',
    })
    .ids() 
%} #}

{% set entriesIds = entriesIds | merge(countryIds) | merge(cityIds) | merge(locationIds) %}

{% set entries = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .id(entriesIds)
    .all() 
%}

{# ----------------- group entries ----------------- #}

{% set entriesByStatus = entries|group('status') %}
{# {% set locationEntries = craft.entries.section('spa').id(locationIds).all() %} #}

{% set markers %}[
{%- for entry in entries -%}[&quot;{{ entry.title }}&quot;, {{ entry.spaContactMap.lat}},{{ entry.spaContactMap.lng }}]{% if not loop.last %},{% endif %}
{%- endfor -%}]
{% endset %}

{% endif %}


{# ----------------- search bar ----------------- #}

{% if sprig.include %}
<section class="sticky top-0 z-20 bg-white">
    <a class="absolute top-0 left-0 block h-20 py-4 pl-screen-xl" href="{{ siteUrl }}">
        {% if website.websiteLogoSimple | length %}
        <img class="w-auto h-12"
            src="{{ rev(website.websiteLogoSimple[0].url()) }}" />
        {% endif %}
    </a>
    {# search form #}
    <div class="max-w-screen-sm px-24 py-4 mx-auto ">
        <form sprig s-target="#spa-results"
                s-swap="outerHTML" class="flex items-center justify-between border-b border-black">
                
            <input class="w-full h-12 px-4 appearance-none bg-transparentrounded-none"
                type="search"
                name="q"
                value="" 
                autocomplete="off"
                placeholder="Search Spa">
            <button class="block">{% include "_component/_icon" with {"icon":"zoom-24"} %}</button>
        </form>
    </div>
</section>
{% endif %}

{# ----------------- search result ----------------- #}

<div class="fixed inset-0 flex flex-row mt-20" id="spa-results">
    <div class="md:block md:w-1/2" id="spa-map" 
        data-centername="{{ entries|first.title|default(null) }}"
        data-centerlat="{{ entries|first.spaContactMap.lat|default(userLat) }}"
        data-centerlng="{{ entries|first.spaContactMap.lng|default(userLng) }}"
        data-markers="{{ markers }}">
        {{ craft.maps.embed({
            id: 'map',
            center: {lat: entries|first.spaContactMap.lat|default(userLat), lng: entries|first.spaContactMap.lng|default(userLng)},
            options: {
                disableDefaultUI: false,
                draggable: true
            },
        }) }}
    </div>
    
    <div class="w-full overflow-y-auto md:w-1/2 px-edge">
        {{ q }}

        <h2 class="pb-8 text-3xl font-hairline font-headline">Showing {{ entries | length }} Results</h2>
        <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2" >
            {% for group, entries in entriesByStatus %}
                {% for entry in entries %}
                {% include "_spa/_card" with {'entry': entry} %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


