
{% set entrySlug = entrySlug ?? entry.slug %}

{% set entry = craft.entries
    .section('story')
    .slug(entrySlug)
    .with([
        'storyHeroImage',
        'storyByline',
        'storyCategory',
        'storyPrintIssue',
        'storyTag'
    ]).one() %}

{% set prevEntry = entry.getPrev({section:'story', orderBy:'postDate' }) %}

<article>    
    {% embed "_containers/_container" with {'breakpoint':'xl'} %}
    {% block content %}
        <section class="flex flex-col items-center md:mt-16 md:flex-row -mx-edge">
            <div class="w-full md:w-5/12 md:py-0 p-edge md:sticky top-8">
                <div class="flex space-x-6">
                    {% include "_categories/_category-tag" with { category : entry.storyCategory } %}
                    {% include "_categories/_category-tag" with { category : entry.storyPrintIssue } %}
                </div>
                <h1 class="text-4xl font-hairline leading-tight font-display lg:text-5xl ">{{ entry.title }}</h1>
                <hr class="block w-32 my-6 border-t-2 border-primary-500"/>
                <h2 class="mb-4 text-lg lg:text-xl color-gray-900">{{ entry.storyStandfirst }}</h2>
                {% if entry.storyByline %}
                {% include "_users/_short-profile" with { 'user' : entry.storyByline[0], 'date' : entry.postDate } %}
                {% else %}
                <span class="text-gray-500">By AsiaSpa</span>
                <span class="block mt-1 text-gray-500">{{ entry.postDate | date("M d, Y") }}</span>
                {% endif %}
            </div>
            <div class="w-full md:w-7/12">
                <div class="-mr-screen-xl">
                    {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', 'zoom': true, 'caption': true } %}
                </div>
            </div>
        </section>
    {% endblock %}
    {% endembed %}
    
    {% include '_components/_adblock' with {'adgroup': ['or', ad.adBillboard, ad.adLeaderboard]} %}
    {% include "_stories/_story-builder" with {'matrix': entry.storyBuilder } %}
</article>

{% if prevEntry %}
<div class="pb-16" s-target="this" s-swap="afterend" sprig s-trigger="revealed" s-push-url="{{ prevEntry.url }}">
{% include '_components/_adblock' with {'adgroup': ['or', ad.adBillboard, ad.adLeaderboard]} %}
    <input type="hidden" name="entrySlug" value="{{ prevEntry.slug }}">
</div>
{% endif %} 

<div class="invisible hidden">{{ entry | views_work_image }}</div>
