{# {{ craft.freeform.form(form, {
    labelClass: "form-label",
    inputClass: "form-control",
    instructionsBelowField: true,
    submitClass: "btn btn-success",
    overrideValues: {
        hiddenFieldHandle: entry.id,
    }
}).render() }} #}




{# {{ craft.formie.renderForm('repeater') }} #}

{# {% do craft.formie.registerAssets('repeater') %} #}

{% set form = form ?? null %}

{% if form %}
<div id="form-{{ form.one().handle }}">
    {{ craft.formie.renderForm(form.one()) }}
    <script>
    window.addEventListener("load", function () {
        var csrfInput = document.querySelector('#form-{{ form.one().handle }} form input[name="CRAFT_CSRF_TOKEN"]');
        fetch('/actions/blitz/csrf/token')
        .then(result => { return result.text(); })
        .then(result => {
            console.log(result);
            csrfInput.value = result;
        });
    })
    </script>
</div>
{% endif %}

