{% set inputClass = "tracking-wide w-full py-2 placeholder-black bg-transparent border-b border-black" %}

<div class="grid grid-cols-2 gap-6">
    <div class="col-span-2 md:mr-0">
        <span class="text-primary-500">Newsletter</span>
        <p class="text-2xl tracking-wide md:text-3xl font-headline">{{ 'Sign up for our newsletters to have the latest stories delivered straight to your inbox every week.' |t }}</p>
    </div>
    <div>
        <input class="{{ inputClass}}" id="firstName" type="text" name="firstName" placeholder="First Name">
    </div>
    <div>
        <input  class="{{ inputClass}}" id="lastName" type="text" name="lastName" placeholder="Last Name">
    </div>
    <div class="col-span-2">
        <input class="{{ inputClass}}" id="email" type="email" name="email" placeholder="youremail@domain.com">
    </div>
    <div class="col-span-2">
        <input type="checkbox" id="privacy" name="privacy" value="0">
        <label for="privacy">Yes, I agree to the Privacy Policy</label>
    </div>
    <div><button class="py-4 underline appearance-none" type="submit">{{ "Subscribe"|t }}</div>
</div>