{#  TODO:
    ! user routing

    ! Collect exclude IDs 
    ! Make story carousel, story gallery to accept multiple entries source (becomes tab)
    ! Add Multicategory widget (tatler reference)
    ! Add Trending widget (allure.com reference)
    ! Add Newsletter widget
    ! Add Spa Locator widget
    ! Add Subscription widget
    ! Add Print issue widget

    !text-underline using background style (https://codyhouse.co/ds/components/app/text-background-effects)
#}

{% extends "_layouts/_generic" %}

{# -------------------  query ------------------- #}
{% do craft.app.elements.eagerLoadElements(className(entry), [entry], [
        'homeHeroStory',
        'homeHeroStory.storyHeroImage',
        'homeHeroStory.storyCategory',
        'homeHeroStory.storyPrintIssues',
        'homeHeroStory.storyTag',
        'homeHeroStory.storyByline',
]) %}

{# -------------------  Content  ------------------- #}
{% block main %}
{% if entry.homeHeroStory %}
{% set homeHeroEntry = entry.homeHeroStory[0] %}
{# logo #}
<section class="bg-secondary-100">
    <div class="max-w-screen-xl mx-auto mb-32 -mt-20 px-edge">
        <div class="flex pt-16">
            <div class="relative z-10 w-8/12 sm:w-1/2 md:w-1/3 lg:w-1/4" style="transform:translateY(40%)">
            {% if website.websiteLogo | length  %}
                <img class="block w-auto h-full"
                    src="{{ rev(website.websiteLogo[0].url()) }}" />
            {% endif %}
            </div>
        </div>
        <div class="flex flex-col items-center md:flex-row -mx-edge">
            <a class="w-full md:w-8/12" href="{{ entry.url }}">
                <div class="hidden -mb-16 md:block -ml-screen-xl"  >
                    {% include "_components/_imager" with { image: homeHeroEntry.storyHeroImage[0], w: 16, h: 9} %}
                </div>
                <div class="block md:hidden">
                    {% include "_components/_imager" with { image: homeHeroEntry.storyHeroImage[0], w: 8, h: 9} %}
                </div>
            </a>
            <div class="w-full px-6 py-8 space-y-4 md:py-0 md:w-4/12">
                <div class="space-x-4">
                    {% include "_categories/_category-tag" with { category : homeHeroEntry.storyCategory } %}
                    {% include "_categories/_category-tag" with { category : homeHeroEntry.storyPrintIssue } %}
                </div>
                <a class="pb-16 space-y-4" href="{{ homeHeroEntry.url }}">
                    <h1 class="text-3xl font-hairline leading-tight tracking-wide md:text-4xl font-display">{{ homeHeroEntry.title }}</h1>
                    {% include "_components/_hr" %}
                    <p class="text-lg">{{ homeHeroEntry.storyStandfirst }}</p>
                </a>
            </div>
        </div>
    </div>
</section>

{# hero image #}
{% endif %}

{% include "_ads/_adblock" %}


{% include "_categories/_layout-builder" with {'matrix': entry.layoutBuilder } %}
{{ sprig('_categories/_story-filter') }}

{% endblock %}