{% if entry %}
	{% if entry.status(live) %}
	<a class="w-full pb-8 space-y-2 border-b" href="{{ entry.url }}" target="blank" rel="noopener noreferrer">
		{% include "_component/_imager" with { image : entry.spaGallery[0] ?? mull, w : 16, h : 9 } %}
		<h3 class="text-2xl font-hairline tracking-wide font-headline ">{{ entry.title }}</h3>
		<p>{{ entry.spaStandfirst }}</p>
		<div class="flex items-start justify-start space-x-4">
			{% include "_component/_icon" with {'icon':'map-pin-16'} %}
			<span class="text-sm">{{ entry.spaContactAddress }}</span>
		</div>
		<div class="flex items-center justify-start space-x-4">
			{% include "_component/_icon" with {'icon':'phone-16'} %}
			<span class="text-sm">{{ entry.spaContactPhoneNumber }}</span>
		</div>
		<button type="button" class="{{ source('_style/_button') }}">
			<span>Read More</span>
			{% include "_component/_icon" with {'icon':'arrow-right-48'} %}
		</button>
	</a>

	{% else %}
	<div class="w-full pb-8 space-y-2 border-b">
		<h3 class="text-2xl font-hairline tracking-wide font-headline ">{{ entry.title }}</h3>
		<div class="flex items-start justify-start space-x-4">
			{% include "_component/_icon" with {'icon':'map-pin-16'} %}
			<span class="text-sm">{{ entry.spaContactAddress }}</span>
		</div>
		<div class="flex items-center justify-start space-x-4">
			{% include "_component/_icon" with {'icon':'phone-16'} %}
			<span class="text-sm">{{ entry.spaContactPhoneNumber }}</span>
		</div>
	</div>
	{% endif %}

{% endif %}
