{% set headerNodes = craft.navigate.raw('header ') %}
<header class="sticky top-0 z-20 w-full h-16 transition duration-300 bg-white ">
    {% embed "_containers/_container" %}
    {% block content %}
    <div class="relative flex justify-between w-full">
        <div class="flex space-x-6">
            <a class="block h-16 py-4" href="{{ siteUrl }}">
                {% if website.websiteLogoSimple | length %}
                    <img class="block w-auto h-full" :class="{'hidden': atTop === true }" src="{{ rev(website.websiteLogoSimple[0].url()) }}"/>
                {% else %}
                    <span class="h-8 p-4 text-xl font-semibold tracking-tight">{{ siteName }}</span>
                {% endif %}
            </a>
            <ul class="hidden lg:flex">
                {% for node in headerNodes %}
                <li class="lg:inline-block">
                    <a class="block p-4 text-2xl transition duration-300 lg:text-lg h-min-16 lg:inline-block hover:text-primary-500"
                       href="{{ node.url }}">{{ node.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex py-4 space-x-4">
            <a href="#nav">MENU</a>
            {# <a href="#aside">SPA</a> #}
        </div>
    </div>
    {% endblock %}
    {% endembed %}
</header>
