{# 
    Hero story will apply background color below the header
    and compensate spacing using margin & padding
#}

{% if entry | length %}

<div class="flex flex-col block w-full pb-8" href="{{ entry.url }}">
    <div class="w-full">
        {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 8, h : 9 } %}
    </div>
    <div class="w-full">
        <div class="flex flex-row justify-between mt-3 mb-1">
            <div class="flex space-x-2">
                {% include "_components/_category-tag" with { category : entry.storyCategory } %}
                {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
            </div>
            <a class="self-center text-sm text-gray-500" href="/user/{{ entry.author.username }}"> {{ 'By '|t ~ entry.author.fullName }}</a>
        </div>
        <p class="font-serif text-xl font-medium lg:text-2xl">{{ entry.title }}</p>
        <p class="mt-2 text-lg text-gray-700">{{ entry.storyStandfirst }}</p>
    </div>
</div>

{% endif %}