{% set query = query ?? 'hong kong' %}
{% set entries = entries ?? [] %}
{% set locationEntries = locationEntries ?? [] %}
{# {% set coordinates = [] %} #}

{% if query %}
{% set entriesIds = [] %}
{% set locationIds = [] %}

{# get list of entries #}
{% set entriesIds = craft.entries 
    .section('spa')
    .status(['live','pending','expired'])
    .title('*' ~ query ~ '*')
    .ids() 
%}

{% set locationIds = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .spaContactMap({
        location: query,
        radius: 100,
        unit: 'm',
    })
    .orderBy('distance')
    .ids() 
%}

{% set entriesIds = entriesIds | merge(locationIds) %}
{% set entries = craft.entries
    .section('spa')
    .status(['live','pending','expired'])
    .id(entriesIds)
    .all() 
%}

{% set entriesByStatus = entries|group('status') %}
{# {% set locationEntries = craft.entries.section('spa').id(locationIds).all() %} #}

{% set markers %}[
{%- for entry in entries -%}[&quot;{{ entry.title }}&quot;, {{ entry.spaContactMap.lat}},{{ entry.spaContactMap.lng }}]{% if not loop.last %},{% endif %}
{%- endfor -%}]
{% endset %}


{% endif %}

{% if sprig.include %}  
<div class="sticky top-0 z-20 flex items-end w-1/2 h-20 py-4 mx-auto md:w-1/3">
    <input sprig
        class="block w-full py-1 mx-auto text-lg text-black placeholder-black bg-transparent border-b border-black appearance-none "
        s-trigger="keyup changed delay:500ms"
        s-target="#spa-results"
        s-swap="outerHTML"
        type="search"
        name="query"
        value="{{ query }}" />
</div>
{% endif %}

<div class="flex flex-row w-full min-h-screen" id="spa-results">
    <div class="sticky top-0 hidden h-screen -mt-20 md:block md:w-1/2" id="spa-map" 
        data-centername="{{ entries|first.title|default('null') }}"
        data-centerlat="{{ entries|first.spaContactMap.lat|default('-25.63') }}"
        data-centerlng="{{ entries|first.spaContactMap.lng|default('131.044') }}"
        data-markers="{{ markers }}">
        {{ craft.maps.embed({
            id: 'map',
            center: {lat: 22.533603, lng: 114.061573},
            options: {
                disableDefaultUI: true,
                draggable: true
            },
        }) }}
    </div>
    
    <div class="w-full md:w-1/2 p-edge">
        <h2 class="mb-8"> Showing {{ entries | length }} spa results.</h2>
        <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2" >
            {% for group, entries in entriesByStatus %}
                {% for entry in entries %}
                {% include "_spa/_card" with {'entry': entry} %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script>  
function loadMarkers() {
    var bounds = new google.maps.LatLngBounds();
    var spaMap = document.querySelector('#spa-map')
    const spasArray = JSON.parse(spaMap.dataset.markers);
    console.log(spasArray)
    for (let i = 0; i < spasArray.length; i++) {
        var location = spasArray[i];
        var position = new google.maps.LatLng( location[1], location[2]);
        bounds.extend(position);
        var marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            map: map, 
            position: position,
            title: location[ 0 ]
        });
        
        google.maps.event.addListener( marker, 'click', ( 
            function( marker, i ) {
                return function() {
                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent( location[0] );
                    infowindow.open( map, marker );
                }
            }
        )( marker, i ) );
        // fit map to bounds
        map.fitBounds( bounds );
    }
}

window.onload = function() {
    loadMarkers()
};

document.body.addEventListener('htmx:afterSettle', function() {
    var spaMap = document.querySelector('#spa-map')
    console.log(spaMap.dataset.centername)
    const center = { lat: Number(spaMap.dataset.centerlat), lng: Number(spaMap.dataset.centerlng)};
    console.log(center);
    init_map(); 
    map.setCenter(center);
    loadMarkers()

});
</script>
<style>
    #map {width:100%; height:100%}
</style>

