{% if entry | length %}

{# -------- query ------ #}
{% set storyContent %}
<div class="flex space-x-6">
    {% include "_components/_category-tag" with { category : entry.storyCategory } %}
    {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
</div>
    <a class="space-y-4" href="{{ entry.url }}">
        <h4 class="font-serif text-3xl leading-tight tracking-tight lg:text-4xl xl:text-5xl text-bg">{{ entry.title }}</h4>
        <hr class="block w-20 border-t-2 lg:my-4 border-primary-500" />
        <p class="text-xl lg:text-lg">{{ entry.storyStandfirst }}</p>
    </a>
    <p class="block mt-2 text-sm text-gray-700">{{ entry.postDate | date("M d, Y") }}, by <a href="{{ url('authors/' ~ entry.storyByline[0].username ?? entry.author.username ) }}">{{ entry.storyByline[0] ??  entry.author }}</a></p>
    {# {% include "_components/_user" with { user : entry.storyByline ?? entry.author, date : entry.postDate } %} #}
{% endset %}


<section class="temp">

{% embed "_containers/_container" %}
{% block content %}
{% if entry.storyHeroImageSetLandscape %}
    <div class="flex flex-col items-end lg:mx-0 lg:flex-row -mx-edge"> 
        <div class="w-full lg:p-0 lg:w-8/12">
            <a class="block -ml-screen-xl" href="{{ entry.url }}">
                {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w:16, h:9} %}
            </a>
        </div>
        <div class="w-full bg-white p-edge lg:w-4/12">
          {{ storyContent }}
        </div>
    </div>
{% endif %}
{% endblock %}
{% endembed %}
</section>

{% endif %}