{% if entry | length %}

{# -------------------  query ------------------- #}
{% set storyContent %}
<div class="flex space-x-6">
    {% include "_components/_category-tag" with { category : entry.storyCategory } %}
    {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
</div>
<a class="space-y-4" href="{{ entry.url }}">
    <h4 class="text-2xl leading-tight tracking-wide font-headline lg:text-3xl text-bg">{{ entry.title }}</h4>
    <hr class="block w-20 border-t-2 lg:my-4 border-primary-500" />
    <p class="lg:text-lg text-md">{{ entry.storyStandfirst }}</p>
</a>
<p class="block mt-2 text-sm text-gray-700">{{ entry.postDate | date("M d, Y") }}, by <a href="{{ url('authors/' ~ entry.storyByline[0].username ?? entry.author.username ) }}">{{ entry.storyByline[0] ?? entry.author }}</a></p>
{% endset %}

{# -------------------  content ------------------- #}

{% if entry.storyLandscape %}
<div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
    <div class="w-full md:w-8/12">
        <a href="{{ entry.url }}">
        {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 16, h : 9 } %}
        </a>
    </div>
    <div class="self-center w-full md:w-4/12">
        {{ storyContent }}
    </div>
</div>

{% else %}

<div class="flex flex-col space-y-4 sm:space-y-0 sm:space-x-4 md:space-x-6 sm:flex-row">
    <div class="w-full sm:w-6/12 md:w-4/12">
        <a href="{{ entry.url }}">
        {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 8, h : 9 } %}
        </a>
    </div>
    <div class="self-center w-full sm:w-6/12 md:w-8/12">
        {{ storyContent }}
    </div>
</div>
{% endif %}



{% endif %}
