{% if entry | length %}
    <div class="w-full">
        <a href="{{ entry.url }}">
            {% if landscape is defined and landscape == true %}
            <div class="hidden md:block">
                {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 16, h : 9 } %}
            </div>
            <div class="md:hidden">
                {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 8, h : 9 } %}
            </div>
            {% else %}
                {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 8, h : 9 } %}
            {% endif %}
        </a>
        <div class="flex flex-row justify-between mt-3 mb-1">
            <div class="space-x-2">
                {% include "_components/_category-tag" with { category : entry.storyCategory } %}
                {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
            </div>
            <a class="self-center text-sm text-gray-500" href="/user/{{ entry.author.username }}"> {{ 'By '|t ~ entry.author.fullName }}</a>
        </div>
        <a class="space-y-4" href="{{ entry.url }}">
            <h4 class="text-2xl leading-tight tracking-wide font-headline lg:text-3xl text-bg">{{ entry.title }}</h4>
            <hr class="block w-20 border-t-2 lg:my-4 border-primary-500" />
            <p class="lg:text-lg text-md">{{ entry.storyStandfirst }}</p>
        </a>
    </div>
{% endif %}
