<aside id="{{ id ?? '' }}" class="{{ source("_style/_aside")}} {{ class ?? '' }}">
    
    <section class="sticky top-0 z-10 bg-white">
        <div class="flex items-center justify-between max-w-screen-xl mx-auto px-edge">
            <a class="block h-20 py-4" href="{{ siteUrl }}">
            {% if website.websiteLogoSimple | length %}
                <img class="block w-auto h-full" src="{{ rev(website.websiteLogoSimple[0].url()) }}"/>
            {% endif %}
            </a>
            <a class="block py-4" href="#">CLOSE</a>
        </div>
    </section>
    <section class="-mt-20">
        {% block content %}{% endblock %}
    </section>
</aside>